:css
  body:before{
  background: url(http://i.imgur.com/AlnbTBj.jpg);
  background-size: cover;
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px) grayscale(0.4) brightness(0.8);
  }
  main{
    padding: 2rem;
    width:60%;
    background:rgba(40,40,40,0.8);
    color:#bbb;
  }
%h1 Solving the world's problems one selfie at a time
%p Have you ever wondered why nobody takes selfies? Well at Toby we believe that selfies are an essential part of a healthy planet. For this reason we have developed a revolutionary blogging platform that only allows you to upload selfies. We believe that by putting this great product into your hands we are opening the door to a new medium of communication and the next era of technology. 
%h4 Features
%ul
  %li Fast powerful picture taking
  %li Only takes selfies
  %li Crashes to keep you on your toes
  %li Write shitty one liners