= form_for @post, url: user_posts_path, html: {multipart: true} do |form|
  / = form.file_field (:image, accept: 'image/*;capture=camera')
  %video{autoplay: true}
  %canvas
  / %img
  = form.text_field :content
  / %a.submit Jokes
  = link_to "Jokes", user_posts_url(@post.user),class: "submit"

  %audio{src:asset_path('camera_shutter.wav')} s

  / # = form.submit
