= form_for @post, url: user_posts_path, html: {multipart: true} do |form|
  %video{autoplay: true}
  %canvas
  / %img
  = form.text_field :content
  %a.submit Jokes

  %audio{src:asset_path('camera_shutter.wav')} 

  / # = form.submit