// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
article {
  width: 600px;
  margin: 2rem auto;
  background: #999;
}
article img {
  display: block;
  width: 100%;
}
form canvas {
  display: none;
}
form img, video, canvas {
  width: 640px;
  height: 480px;
}
form {
  width: 640px;
  margin:auto
}
form input {
  width: 100%;
  font-size:2rem;
  padding:0;
  margin:0;
  border:1px solid
}
@media (min-width: 640px) {
  input[type="file"] {
    display:none !important;
  }
}